<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SceneServlet</servlet-name>
        <servlet-class>serverpelotas.SceneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhaseServlet</servlet-name>
        <servlet-class>serverpelotas.PhaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreServlet</servlet-name>
        <servlet-class>serverpelotas.ScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticServlet</servlet-name>
        <servlet-class>serverpelotas.StatisticServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagesServlet</servlet-name>
        <servlet-class>serverpelotas.MessagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SceneServlet</servlet-name>
        <url-pattern>/SceneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhaseServlet</servlet-name>
        <url-pattern>/PhaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreServlet</servlet-name>
        <url-pattern>/ScoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticServlet</servlet-name>
        <url-pattern>/StatisticServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagesServlet</servlet-name>
        <url-pattern>/MessagesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
